
.admin-dashboard {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
   
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    
}

.attendance-entry {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.attendance-entry h3 {
    margin-top: 0;
}

.attendance-entry p {
    margin: 5px 0;
}

.user-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}
.user{

    padding: 10px;
}